<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_medico.nombre %>
</p>

<%= link_to 'Edit', edit_tipo_medico_path(@tipo_medico) %> |
<%= link_to 'Back', tipo_medicos_path %>
